html {
    font-family: $body-font-family;
    line-height: 1.4;
    -webkit-text-size-adjust: 100%;
    background: lighten( $color--soft-red, 10% );
}

body {
    margin: 0;
    color: $color-semitrans-dark;
    position: relative;
    background: lighten( $color--soft-red, 10% );
}


img {
    max-width: 100%;
    display: block;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.2;
    margin-top: 1rem;
    margin-bottom: .25rem;
    font-family: $body-font-family;
    font-weight: $body-font-weight--bold;
    
    &:first-child {
        margin-top: 0;
    }
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

h1, .h1 {
    font-size: rem(28);
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    color: $color--custard;
    text-shadow: 1px 1px 0 $color--soft-red, 2px 2px 0 rgba(black,.15);
    @include min($bp-sm) {
        font-size: rem(48);
    }
}

h2, .h2 {
    font-size: rem(18);
    @include min($bp-sm) {
        font-size: rem(24);
    }
}

h3, .h3 {
    font-size: rem(18);
}

h4, .h4 {
    font-size: rem(17);
}

h5, .h5 {
    font-size: rem(16);
}

h6, .h6 {
    font-size: rem(14);
    text-transform: uppercase;
    font-family: $body-font-family;
    font-weight: $body-font-weight--bold;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    &--inline {
        display: inline;
        margin: 0;
    }
}

strong, b {
    font-weight: $body-font-weight--bold;
}

hr {
    height: 1px;
    border: none;
    background-color: $color-border;
    margin: 1em 0;
    &.hr {
        &--dashed {
            background: none;
            border-bottom: 1px dashed $color-border;
            height: 0;
        }
    }
}

.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.color {
    &--green {
        color: $color--green;
    }
    &--champagne {
    	color: $color--champagne;
    }
    &--pewter {
    	color: $color--pewter;
    }
    &--bronze {
    	color: $color--bronze;
    }
    &--turquoise {
    	color: $color--turquoise;
    }
    &--white {
    	color: $color--white;
    }
    &--white-09 {
    	color: rgba( $color--white, .9 );
    }
    &--white-08 {
    	color: rgba( $color--white, .8 );
    }
    &--white-07 {
    	color: rgba( $color--white, .7 );
    }
    &--white-06 {
    	color: rgba( $color--white, .6 );
    }
    &--white-05 {
    	color: rgba( $color--white, .5 );
    }
    &--white-04 {
    	color: rgba( $color--white, .4 );
    }
    &--white-03 {
    	color: rgba( $color--white, .3 );
    }
    &--white-02 {
    	color: rgba( $color--white, .2 );
    }
    &--white-01 {
    	color: rgba( $color--white, .1 );
    }

    &--black-09 {
    	color: rgba( $color--black, .9 );
    }
    &--black-08 {
    	color: rgba( $color--black, .8 );
    }
    &--black-07 {
    	color: rgba( $color--black, .7 );
    }
    &--black-06 {
    	color: rgba( $color--black, .6 );
    }
    &--black-05 {
    	color: rgba( $color--black, .5 );
    }
    &--black-04 {
    	color: rgba( $color--black, .4 );
    }
    &--black-03 {
    	color: rgba( $color--black, .3 );
    }
    &--black-02 {
    	color: rgba( $color--black, .2 );
    }
    &--black-01 {
    	color: rgba( $color--black, .1 );
    }
}

.font-size {
    &--smaller {
        font-size: .9rem;
    }
    &--smallest {
        font-size: .8rem;
    }
    &--larger {
        font-size: 1.1rem;
    }
    &--largest {
        font-size: 1.2rem;
    }
    &--reset {
        font-size: 1rem;
    }
}

.opacity {
	&--10 {
		opacity: .1;
	}
	&--20 {
		opacity: .2;
	}
	&--30 {
		opacity: .3;
	}
	&--40 {
		opacity: .4;
	}
	&--50 {
		opacity: .5;
	}
	&--60 {
		opacity: .6;
	}
	&--70 {
		opacity: .7;
	}
	&--80 {
		opacity: .8;
	}
	&--90 {
		opacity: .9;
	}
}

* {
    box-sizing: border-box;
}

svg {
    fill: currentColor;
    &.bullet,
    &.icon {
        height: 1em;
        width: 1em;
    }
    &.bullet {}
    &.inline-with-text {
        @include transform(translateY(10%));
    }
}

a {
    @include transition(all 0.2s);
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
    &:hover, &:active {
        text-decoration: none;
    }
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

.no-wrap {
    white-space: nowrap;
}

.no-list-style {
    @include no-list-style;
}

.check-list {
    @include no-list-style;
}

.text-align {
    &-left {
        text-align: left;
    }
    &-center {
        text-align: center;
    }
    &-right {
        text-align: right;
    }

    @include min( $bp-xs ) {
        &-left--xs {
            text-align: left;
        }
        &-center--xs {
            text-align: center;
        }
        &-right--xs {
            text-align: right;
        }
    }

    @include min( $bp-sm ) {
        &-left--sm {
            text-align: left;
        }
        &-center--sm {
            text-align: center;
        }
        &-right--sm {
            text-align: right;
        }
    }

    @include min( $bp-md ) {
        &-left--md {
            text-align: left;
        }
        &-center--md {
            text-align: center;
        }
        &-right--md {
            text-align: right;
        }
    }

    @include min( $bp-lg ) {
        &-left--lg {
            text-align: left;
        }
        &-center--lg {
            text-align: center;
        }
        &-right--lg {
            text-align: right;
        }
    }

    @include min( $bp-xl ) {
        &-left--xl {
            text-align: left;
        }
        &-center--xl {
            text-align: center;
        }
        &-right--xl {
            text-align: right;
        }
    }
}
.text-transform {
    &--uppercase {
        text-transform: uppercase;
    }
}

.bg-img {
    &--cover {
        background-size: cover;
        background-position: center center;
    }
}

.contain-img,
.contain-iframe {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    &--5-3 {
        padding-top: 60%;
    }
    &--4-3 {
        padding-top: 75%;
    }
    &--16-9 {
        padding-top: 56.25%;
    }
    &--7-3 {
        padding-top: 42.857%;
    }
}

.contain-img {
    img {
        @include transform(translateX(-50%) translateY(-50%));
        position: absolute;
        top: 50%;
        left: 50%;
        max-height: 100%;
        max-width: 100%;
    }
    &--cover {
        @extend .bg-img--cover;
        overflow: hidden;
        text-indent: -999em;
    }
    &--fill {
        overflow: hidden;
        img {
            height: auto;
            width: auto;
            max-height: none;
            min-width: 100%;
            min-height: 100%;
            max-width: none;
        }
    }
}

.contain-iframe {
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

main {
    position: relative;
    display: block;
    width: 100%;
    min-height: 100%;
    // padding-top: $mobi-header-height;
    // @include min( $bp-md ) {
    // 	padding-top: $tablet-header-height;
    // }
    // @include min( $bp-xl ) {
    // 	padding-top: $desktop-header-height;
    // }
}

.limit-to-max {
    margin: 0 auto;
    width: 100%;
    max-width: $max-site-width;
}

.btn {
    @include transition(all, 0.1s);
    display: inline-block;
    background-color: $color--green;
    text-decoration: none;
    outline: none;
    font-size: .9rem;
    font-family: $heading-font-family;
    padding: .75rem 3em;
    color: $color--light-green;
    text-shadow: 0 -1px 0 darken($color--green, 20%);
    .icon {
        @include transition(background-color, 0.2s);
        font-size: .9em;
        display: inline-block;
        margin: 0 .5em 0 0;
        color: $color--green;
        border-radius: 2px;
        background: $color--light-green;
        box-shadow: 0 -1px 0 0 darken($color--green, 20%);
    }
    &--radius {
        border-radius: .2rem;
    }
    &--rounded {
        border-radius: 1rem;
    }
    &--small {
        padding: .625rem 2rem;
    }
    &--smaller {
        padding: .5rem 1rem;
    }
    &--outlined {
        background-color: transparent;
        border: 1px solid $color-primary;
        color: $color-primary;
        &:hover {
            background: $color-primary;
            @include isDark($color-primary) {
                color: $color--white;
            }

            @include isLight($color-primary) {
                color: $color--oil;
            }
        }
    }
    &--gradient {
        &:hover {
            color: $color--white;
            .icon {
                background: $color--white;
                svg {
                    color: darken($color-primary, 20%);
                }
            }
        }
        @include transition(background-image, 0.2s);
        @include background-image(linear-gradient(to bottom, $color-primary, darken($color-primary, 15%)));
        border-top: 1px solid lighten($color-primary, 5%);
        border-bottom: 1px solid darken($color-primary, 20%);
        &:hover {
            @include background-image(linear-gradient(to bottom, darken($color-primary, 5%), darken($color-primary, 20%)));
            border-top-color: $color-primary;
            border-bottom-color: darken($color-primary, 25%);
        }
    }
}

.icon-link {
    white-space: nowrap;
    // this may need to go, but try for now -- these should never be too long anyway
    &__icon {
        margin-left: .33em;
    }
}

.pad,
.pad-l,
.pad-h {
    padding-left: $pad;
    &--small {
        padding-left: $pad / 2;
    }
    &--large {
        padding-left: $pad * 2;
    }
    &--none {
        padding-left: 0;
    }
}

.pad,
.pad-r,
.pad-h {
    padding-right: $pad;
    &--small {
        padding-right: $pad / 2;
    }
    &--large {
        padding-right: $pad * 2;
    }
    &--none {
        padding-right: 0;
    }
}

.pad,
.pad-t,
.pad-v {
    padding-top: $pad;
    &--small {
        padding-top: $pad / 2;
    }
    &--large {
        padding-top: $pad * 2;
    }
    &--none {
        padding-top: 0;
    }
}

.pad,
.pad-b,
.pad-v {
    padding-bottom: $pad;
    &--small {
        padding-bottom: $pad / 2;
    }
    &--large {
        padding-bottom: $pad * 2;
    }
    &--none {
        padding-bottom: 0;
    }
}

.margin,
.margin-h,
.margin-l {
    margin-left: $pad;
    &--small {
        margin-left: $pad / 2;
    }
    &--large {
        margin-left: $pad * 2;
    }
    &--none {
        margin-left: 0;
    }
}

.margin,
.margin-h,
.margin-r {
    margin-right: $pad;
    &--small {
        margin-right: $pad / 2;
    }
    &--large {
        margin-right: $pad * 2;
    }
    &--none {
        margin-right: 0;
    }
}

.margin,
.margin-t,
.margin-v {
    margin-top: $pad;
    &--small {
        margin-top: $pad / 2;
    }
    &--large {
        margin-top: $pad * 2;
    }
    &--none {
        margin-top: 0;
    }
}

.margin,
.margin-b,
.margin-v {
    margin-bottom: $pad;
    &--small {
        margin-bottom: $pad / 2;
    }
    &--large {
        margin-bottom: $pad * 2;
    }
    &--none {
        margin-bottom: 0;
    }
}

.vis-hidden {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
    z-index: -1;
}

// .sticky-footer-cta {
// 	    .phone-cta {
// 	        @include phone-cta();
// 	    }
// 	    font-size: 1rem;
// 	    display: block;
// 	    box-shadow: 0 0 .5em 0 rgba(0, 0, 0, .3);
// 	    position: fixed;
// 	    left: 0;
// 	    width: 100%;
// 	    z-index: 10;
// 	    text-align: right;

// 	    	bottom: 0;

// 	    @include min( $bp-xs) {
// 	        font-size: 1.25rem;
// 	    }
// 	    @include min( $bp-md) {
// 	        display: none;
// 	    }
// }

%_show-below {
    display: block;
}

.show-below {
    &--sm {
        @extend %_show-below;
        @include min($bp-sm) {
            display: none;
        }
    }
    &--md {
        @extend %_show-below;
        @include min($bp-md) {
            display: none;
        }
    }
    &--lg {
        @extend %_show-below;
        @include min($bp-lg) {
            display: none;
        }
    }
    &--xl {
        @extend %_show-below;
        @include min($bp-xl) {
            display: none;
        }
    }
}

%_show-above {
    display: none;
}

.show-above {
    &--xs {
        @extend %_show-above;
        @include min($bp-xs) {
            display: block;
        }
    }
    &--sm {
        @extend %_show-above;
        @include min($bp-sm) {
            display: block;
        }
    }
    &--md {
        @extend %_show-above;
        @include min($bp-md) {
            display: block;
        }
    }
    &--lg {
        @extend %_show-above;
        @include min($bp-lg) {
            display: block;
        }
    }
    &--xl {
        @extend %_show-above;
        @include min($bp-xl) {
            display: block;
        }
    }
}

.portion {
    float: left;
    & + .remainder {
        display: table-cell;
        float: none;
    }
}

.page-break {
    height: 10px;
    background: #1a1a1a;
    border: none;
    margin-top: 0;
    margin-bottom: $pad;
    &--blue {
        background: $color--light-blue;
    }
}

.cta {
    @include transition(color, 0.2s);
    font-family: $body-font-family;
    color: $color--blue;
    border: none;
    padding: none;
    background: none;
    font-size: 1em;
    cursor: pointer;

    &, &:hover {
        text-decoration: none;
    }
    &:hover {
        color: lighten($color--blue, 7%);
        .icon {
            background: lighten($color--blue, 7%);
        }
    }
    .icon {
        @include transition(background-color, 0.2s);
        font-size: .9em;
        display: inline-block;
        margin: 0 .5em 0 0;
        color: $color--white;
        border-radius: 2px;
        background: $color--blue;
    }
    &--green {
        color: $color--green;
        &:hover {
            color: lighten($color--green, 7%);
            .icon {
                background: lighten($color--green, 7%);
            }
        }
        .icon {
            background: $color--green;
        }
    }
    &--charcoal {
        color: $color--charcoal;
        &:hover {
            color: lighten($color--charcoal, 7%);
            .icon {
                background: lighten($color--charcoal, 7%);
            }
        }
        .icon {
            background: $color--charcoal;
        }
    }

    &--red {
        color: $color--red;
        &:hover {
            color: lighten($color--red, 7%);
            .icon {
                background: lighten($color--red, 7%);
            }
        }
        .icon {
            background: $color--red;
        }
    }
}

.polaroid {
    border: 5px solid white;
    box-shadow: 0 0.125em 0.25em -0.125em rgba(0, 0, 0, 0.75);
}

.hide {
    display: none;
}

.flex {
    @include display(flex);
    &--1-0-auto {
        @include flex(1 0 auto);
    }
    &--1-1-auto {
        @include flex( 1 1 auto );
    }
}

.justify-content {
    &--center {
        @include justify-content(center);
    }
}

.align-items {
    &--center {
        @include align-items(center);
    }
}

.row {
    &--spaced {
        margin-left: -$pad;
        margin-right: -$pad;
        & > [class*='col-xs-'],
        & > [class*='col-sm-'],
        & > [class*='col-md-'],
        & > [class*='col-lg-'],
        & > [class*='col-xl-'] {
            padding-left: $pad;
            padding-right: $pad;
        }
    }
}

.clearfix {
    @include clearfix;
}

.no-btm-margin-last-child {
    & > *:last-child {
        margin-bottom: 0;
    }
}

.notification {
    @extend .no-btm-margin-last-child;
    border: 1px solid $color--smoke;
    background: rgba($color--smoke, 0.1);
    padding: 1em;
    margin: 0 0 1em;
    border-radius: .25em;
    word-break: break-word;
    &--error {
        border-color: $color--red;
        background: rgba($color--red, 0.1);
    }
    &--warn {
        border-color: $color--yellow;
        background: rgba( $color--yellow, 0.1 );
    }
    &--success {
        border-color: $color--green;
        background: rgba($color--green, 0.1);
    }
}


.min-height {
    &--50vh {
        min-height: 50vh;
    }
}