.global-header {
  padding: 2em $pad 0;
  background-color: $color--custard;
  @include background( radial-gradient(at bottom, lighten( $color--custard, 30% ), $color--custard ) );

  img {
    margin: 0 auto;
  }
}

.global-footer,
.main-content {
  overflow: hidden;
  padding: 2em $pad;
  color: rgba( white, 0.8 );

  a {
    color: white;
  }
}

.main-content {
  background: $color--soft-red;
}

.under-construction {
  border-radius: 1em;
  padding: 2em $pad;
  background: $color--custard;
  @include background( linear-gradient(130deg, 
    $color--custard 0%, $color--custard 10%, darken($color--custard,5%) 10%, darken($color--custard,5%) 20%,
    $color--custard 20%, $color--custard 30%, darken($color--custard,5%) 30%, darken($color--custard,5%) 40%,
    $color--custard 40%, $color--custard 50%, darken($color--custard,5%) 50%, darken($color--custard,5%) 60%,
    $color--custard 60%, $color--custard 70%, darken($color--custard,5%) 70%, darken($color--custard,5%) 80%,
    $color--custard 80%, $color--custard 90%, darken($color--custard,5%) 90%, darken($color--custard,5%) 100%));
    
  color: $color--cobalt;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

.facebook-content {
  padding: 0 $pad 2em;
  @include background( linear-gradient( from top, $color--soft-red 0%,lighten( $color--soft-red, 10% ) 100% ) );

  &__fb {
    margin: 0 auto;
    display: block !important;
    max-width: 500px; // matching what's set on the facebook include
  }
}

.big-beautiful-text {
  line-height: 2.2;
  font-size: 1.2em;
}