// -----------------------------------------------------------------------
// UTILITY
// -----------------------------------------------------------------------
@function strip-units($n) {
    @return $n / ($n * 0 + 1);
}

@function intended-ems( $pxValue ) {
    @return strip-units( $pxValue / $base-font-size ) + 0em;
}

// -----------------------------------------------------------------------
// MEDIA
// -----------------------------------------------------------------------
@mixin hidpi($ratio: 1.3) {
  @media (-webkit-min-device-pixel-ratio: $ratio),
  (min--moz-device-pixel-ratio: $ratio),
  (-o-min-device-pixel-ratio: #{$ratio}/1),
  (min-resolution: round($ratio * 96dpi)),
  (min-resolution: $ratio * 1dppx) {
    @content;
  }
}
@mixin min( $media: 0px ) {
    @if $media==0px {
        @content;
    }
    @else {
        @media all and ( min-width: $media) {
            @content;
        }
    }
}

@mixin under( $media ) {
    @media all and ( max-width: $media - 1px) {
        @content;
    }
}

@mixin within( $min, $under, $min2:null, $under2:null, $min3:null, $under3:null ) {
    @if $min3 and $under3 {
        @media all and ( min-width: $min) and (max-width: $under - 1px ), all and ( min-width: $min2) and (max-width: $under2 - 1px ), all and ( min-width: $min3 ) and (max-width: $under3 - 1px) {
            @content;
        }
    }
    @else {
        @if $min2 and $under2 {
            @media all and ( min-width: $min) and (max-width: $under - 1px ), all and ( min-width: $min2) and (max-width: $under2 - 1px ) {
                @content;
            }
        }
        @else {
            @media all and ( min-width: $min) and (max-width: $under - 1px ) {
                @content;
            }
        }
    }
}



// ---------------------------------------------------------------------------
// COLOR
// ---------------------------------------------------------------------------
@mixin isDarker( $color1, $color2 ) {
    @if lightness($color1) <= lightness( $color2 ) {
        @content;
    }
}
@mixin isDark( $color ) {
    @if lightness($color) <= 50% {
        @content;
    }
}
@mixin isQuiteDark( $color ) {
    @if lightness($color) <= 34% {
        @content;
    }
}

@mixin isLighter( $color1, $color2 ) {
    @if lightness($color1) > lightness( $color2 ) {
        @content;
    }
}
@mixin isLight( $color ) {
    @if lightness($color) > 50% {
        @content;
    }
}
@mixin isQuiteLight( $color ) {
    @if lightness($color) > 66% {
        @content;
    }
}


// ----------------------------------------------------------------------------
// VERTICAL ALIGNMENT
// ----------------------------------------------------------------------------

@mixin vaOuter() {
    display: table !important;
    width: 100% !important;
}
@mixin vaInner() {
    display: table-cell !important;
    vertical-align: middle !important;
}


// -----------------------------------------------------------------------------
// MISC
// -----------------------------------------------------------------------------

@mixin clearfix() {
    &:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
    }
}

@mixin no-list-style() {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding: 0;
        margin: 0;
    }
}

@mixin check-list( $check-color: $color--green ) {
    @include no-list-style();
    li {
        margin-bottom: .5em;
        padding-left: 1.5em;
        position: relative;

        &::before {
            content: "\2713";
            background-color: $check-color;
            width: 1.2em;
            height: 1.2em;
            font-size: .7em;
            line-height: 1.2em;
            display: block;
            text-align: center;
            border-radius: 1.2em;
            position: absolute;
            left: 0;
            top: .5em;
            color: $color--white;
            @include isQuiteLight( $check-color ) {
                color: $color--oil;
            }
        }
    }
}

@mixin break-word() {
    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}