// ---------------------------------------------------------------
// GENERAL COLORS
// ---------------------------------------------------------------

$color--red: #CC0000 !default;
$color--green: #a2bbb5 !default;
$color--yellow: #FFDC00 !default;
$color--light-green: #c7e3ba !default;
$color--black-green: #2f332d !default;
$color--blue: #245381 !default;
$color--dark-blue: #134077 !default;
$color--light-blue: #4a79a7 !default;
$color--powder-blue: #9ec8e7 !default;
$color--white: #FFFFFF !default;
$color--platinum: #FAFAFA !default;
$color--silver: #E5E5E5 !default;
$color--smoke: #acacac !default;
$color--iron: #999 !default;
$color--charcoal: #4f4f4f !default;
$color--oil: #222 !default;
$color--black: #000000 !default;
$color--light-gray: #d1d1d1 !default;
$color--dark-gray: #6d6d6d !default;
$color--custard: #fbf0c4 !default;

$color--soft-red: #eb4857 !default;
$color--cobalt: #4c5764 !default;
$color--champagne: #dbddd8 !default;
$color--pewter: #a5a89f !default;
$color--bronze: #646255 !default;
$color--turquoise: #a1bab7 !default;

// ---------------------------------------------------------------
// DESIGNR THEME COLORS
// ---------------------------------------------------------------

$color-site-header: $color--black-green !default;
$color-primary: $color--charcoal !default;
$color-background: #FFFFFF !default;
$color-cta: $color--red !default;
$color-mobile-nav: lighten($color--charcoal, 7%) !default;
$color-footer-background: $color--dark-blue !default;
$color-header-overlay: #000000 !default;
$color-header-overlay-font: #FFFFFF !default;
$color-text-default: $color--oil !default;
$color-border: rgba($color--charcoal, 0.2);
$color-link: rgba($color--charcoal, 0.7);
$color-semitrans-dark: rgba(black, 0.7);
$color-semitrans-light: rgba(white, 0.7);

// ---------------------------------------------------------------
// SOCIAL COLORS/SIZE
// ---------------------------------------------------------------

$social__color--yelp: #be2f25 !default;
$social__color--twitter: #56a3d9 !default;
$social__color--gplus: #dd4b39 !default;
$social__color--linkedin: #007bb6 !default;
$social__color--youtube: #c73928 !default;
$social__color--facebook: #3b5998 !default;
$social__color--instagram: #81594D !default;
$social__color--pinterest: #BB0F23 !default;
$social__icon--size: 32px;

// ---------------------------------------------------------------
// FONT
// ---------------------------------------------------------------

$body-font-family: "Open Sans", Helvetica, sans-serif;
$body-font-weight: 400;
$body-font-weight--med: 400;
$body-font-weight--light: 400;
$body-font-weight--bold: 700;

$heading-font-family: "Questrial", Helvetica, sans-serif;
$heading-font-weight: 400;
$heading-font-weight--med: 400;
$heading-font-weight--light: 400;
$heading-font-weight--bold: 400;
$base-font-size: 16px;

// ---------------------------------------------------------------
// BREAKPOINTS
// ---------------------------------------------------------------

// 375... NOT used by flexboxgrid
$bp-xs: 23.4375 * $base-font-size;

// 568... NOT used by FLEXBOXGRID
$bp-sm: 35.5 * $base-font-size;

// 768... !!! MATCHES FLEXBOXGRID "SM" PREFIX
$bp-md: 48 * $base-font-size;

// 1024... !!! MATCHES FLEXBOX GRID "MD" PREFIX
$bp-lg: 64 * $base-font-size;

// 1200... !!! MATCHES FLEXBOX GRID "LG" PREFIX
$bp-xl: 75 * $base-font-size;

// 1200
$max-site-width: $bp-xl;


// ---------------------------------------------------------------
// GENERAL SPACING & SIZING
// ---------------------------------------------------------------

$pad: $base-font-size; // match to font size, but should ideally be an even number
$ui-height: 38px;
$ui-height--mobile: 48px;
$mobi-header-height: 100px;
$tablet-header-height: 140px;
$desktop-header-height: 140px;
$footer-fade-height: 150px;
$footer-retract-height: 75px;
$top-bar-height: 0px;
$radius--small: 2px;
$radius--large: 0.5em;

// ---------------------------------------------------------------
// MOBILE NAV
// ---------------------------------------------------------------

$mobi-nav-width-sml: 90%;
$mobi-nav-width-med: 60%;
$mobi-nav-breakpoint-med: 500px;
$mobi-fixed-bottom-cta-height: 40px;

// ---------------------------------------------------------------
// MISC
// ---------------------------------------------------------------

// these data URLs are generated with patternify.com
// they're 8x4 and sized down for retina clarity
// dark ones at 0.5 opacity
// light ones at 0.5 opacity
$bg--chevron-dark: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAALklEQVQYV2NkYGCoZ2BgaGSAABAbBsBijEiCyIrgbJACZJ0wCbgYTAG6IphVjQAVzwgDiFgPigAAAABJRU5ErkJggg==";
$bg--chevron-light: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAALklEQVQYV1WMMQoAAAgC9eXRyw0HwVo6zpKShuQCgNnbE8fIPnrcnwmeS2U3NR9zVSL9zbryPQAAAABJRU5ErkJggg==";
$bg--chevron-size: 4px 2px;

@function bgGlowTop( $multiplier:1 ) { 
	@return radial-gradient(circle ( $max-site-width / 2 ) at top, rgba($color--white, (.75 * $multiplier) ), rgba($color--white, (.375 * $multiplier) ) 34%, rgba($color--white, 0) );
}
@function bgGlowBtm( $multiplier:1 ) { 
	@return radial-gradient(circle ( $max-site-width / 2 ) at bottom, rgba($color--white, (.75 * $multiplier ) ), rgba($color--white, (.375 * $multiplier ) ) 34%, rgba($color--white, 0) );
}

// these data URLs are generated with patternify.com
// they're 6x6 and sized down for retina clarity
// dark ones at 0.5 opacity
// light ones at 0.5 opacity
$bg--pinstripe-dark: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAKElEQVQYV2NkwAT1ICFGNHGwIAMDQyOyBFwQWQeKIEwCQxBZohHdLgB8iwYF4u5EpwAAAABJRU5ErkJggg==";
$bg--pinstripe-dark-size: 3px;
$bg--pinstripe-light: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALUlEQVQYV2NkQAP///+vBwkxIovDBRkZG+ESyIJwHeiCYAlsgnAJRkbGRnS7AA7kGv+3PvPmAAAAAElFTkSuQmCC";
$bg--pinstripe-light-size: 3px;

$team-image-size: 160px;